/* 헤더 스타일 */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
}

/* TalkFeed 로고 스타일 */
.header-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
}

/* 햄버거 메뉴 아이콘 스타일 */
.menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

.feedback-emotion-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #ffffff;
}

.emotion-title {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}

.emotion-chart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 101px;
  margin-left: 38px;
}

.emotion-chart-text {
  position: absolute;
  left: 150%;
  top: 50%;
  transform: translateY(-58%);
  font-size: 36px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}

.see-all {
  position: absolute;
  top: 130px;
  right: 15px;
  font-size: 14px;
  color: #888;
  cursor: pointer;
  white-space: nowrap;
  z-index: 10;
}

.feedback-divider {
  width: 390px;
  height: 4px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.feedback-list {
  max-width: 340px;
  width: 100%;
  padding: 0;
}

.feedback-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  height: 60px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.icon {
  font-size: 20px;
  margin-right: 8px;
}

.arrow {
  font-size: 20px;
  margin-left: auto;
  font-weight: bold;
}

.feedback-item:hover {
  background: #f5f5f5;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-content {
  position: relative;
  width: 393px;
  height: 586px;
  background: #ffffff;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal-close-button {
  background-color: #003bd0;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.results-list {
  margin-top: 1rem;
}

/* 각 세그먼트를 개별 박스로 표시 */
.segment-box {
  border: 1px solid black;
  background-color: #ffffff;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
